body {
  font: 14px "Open Sans";
  color: #212121;
  padding: 0 15px;
}

input {
  font-family: inherit;
}

.delimeter {
  color: #BFBFBF;
  margin: 0 5px;
}

.updateIntervalValue {
  display: inline-block;
  min-width: 32px;
  text-align: right;
}

.updateIntervalRange {
  vertical-align: middle;
}

.cachesTable {
  border-collapse: collapse;
  margin-top: 15px;
}

  .cachesTable tbody tr:nth-child(2n + 3) td {
    border-top: 1px solid #EEEEEE;
  }

  .cachesTable td, .cachesTable th {
    padding: 1px 5px;
  }

.infoColumTitle {
  cursor: pointer;
}

.sorted:after {
  font-size: 9px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.sorted.asc:after {
  content: "\25BC";
}

.sorted.desc:after {
  content: "\25b2";
}

.sorted + .sortContainer {
  display: none;
}

.sortContainer {
  display: inline-block;
  width: 10px;
  height: 16px;
  vertical-align: middle;
}

  .sortContainer .sort {
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    cursor: pointer;
    font-size: 9px;
    line-height: 5px;
    transform: scaleY(0.65);
  }

.collaspibleIconCell {
  width: 12px;
  min-width: 12px;
}

.collapsibleIcon {
  text-align: center;
  cursor: pointer;
  font-size: 10px;
}

  .collapsibleIcon.collapsibleIconExpanded {
  }

.chart {
  margin-bottom: 10px;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}